<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/custom/css/login/login.css">
</head>
<body>
<div class="login">
    <div class="login_title">
        <p ><img id="bg" src="/custom/img/login/bglogo.png"/>连云港中复神鹰碳纤维云平台</p>
    </div>
    <div class="login_main">
        <div class="main_left"></div>
        <div class="main_right">
            <div class="right_title">用户登录</div>
            <form action="" id="loginForm">
                <div class="username">
                    <img src="/custom/img/login/username.png" alt="">
                    <input type="text" name="username" class="username" id="username" placeholder="请输入用户名">
                </div>
                <div class="password">
                    <img src="/custom/img/login/password.png" alt="">
                    <input type="password" name="password" class="password" id="password" placeholder="请输入密码">
                </div>
                <div class="yes_login"><input type="button" value="登&nbsp;&nbsp;&nbsp;&nbsp;录" onclick="login()"></div>
            </form>
        </div>
    </div>
    <div class="login_footer">
        <!--<p class="name">北京XXXX信息科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京ICP：京B2-20170028</p>-->
        <!--<p>联系电话：18588888888&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;010-2888888</p>-->
            <P>2018 &copy;中复神鹰碳纤维有限责任公司,版权所有</P>
    </div>
</div>
<script type="text/javascript" src="/common/Jquery/2.1.1/jquery.min.js"></script>
<script  src="/custom/js/login/login.js"> </script>
</body>
</html>